# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Ignore environment variable files for security
.env
.env.*
.envrc
.env.local
.env.development
.env.test
.env.production
